*{
margin : 0;
padding : 0;
box-sizing : border-box;
}

html, body{
height : 100%;
width : 100%;
overflow: hidden;

}

.sidenav{
    background-color: white;
    min-width: 170px;
    width: 17%;
    height: 100vh;
    
}

.nav{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard {
    max-width: 210px;
    min-width: 100px;
    margin-left: 15px;
    
}
.dashboard p{
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.transaction {
    max-width: 210px;
    min-width: 100px;
    margin-left: 15px;
    margin-top: 6px;
    
}
.transaction p{
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.support {
    max-width: 210px;
    min-width: 100px;
    margin-left: 15px;
    margin-top: 6px;
    margin-bottom: 20px; 
}
.support p{
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}
.hovers:hover{
    background-color: rgb(158, 156, 156);
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
