*{
margin : 0;
padding : 0;
box-sizing : border-box;
}

html, body{
height : 100%;
width : 100%;
}
.logo img{
    background-color: blue;
    padding: 5px 28px;
}

.sidenav{
    background-color: white;
    width: 255px;
    height: 100vh;
}